openpyxl
praat-textgrids==1.3.1 # 问题一，使用pip install "praat-textgrids==1.3.1"安装 
pre-commit
webrtcvad==2.0.10

# 同requirements.txt，全部使用mamba install尝试安装即可

# 问题一：praat-textgrids==1.3.1
# not found in forge
# 使用pip install "praat-textgrids==1.3.1"安装 

# 问题二：webrtcvad==2.0.10
# could not solve critical libmamba Could not solve for environment specs
# pip install webrtcvad==2.0.10
